body{
    background-color: #ffffcc;
    display:inline-block;
    width:768px;
    height:auto;

}
/* ヘッダー */
header {
    width: 768px;
    height: 70px;
    display: flex;
    
}

header img{
    width:200px;
    height: 45px;
    padding: 15px 15px;
}
.nav1 {
    margin:0 0 0 auto;
    align-items:center;
    width:400px;
}
.nav1 ul{
    display:flex;
    display:none;
}
header a {
    color: black;
}

header li{
    list-style:none;
    padding: 10px;
}

header a {
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}
/* バーガー */
.burger{
    width:40px;
    height:40px;
    background-image: url(top_picture/burger.png);
    background-size: 24px;
    background-position:center;
    background-repeat: no-repeat;
    margin:0 0 0 auto;
    border-radius: 4px;
    cursor: pointer;
    position:relative;
    z-index:2;
} 
.burger:hover{
    background-color: #ddd;
}
.burger.is_active{
    background-image:url(./top_picture/close.png);
}
/* メニュー */
.menu {
    color: white;
    display: flex;
    align-items:center;
    justify-content:center;
    width:800px;
    height:auto;
    background-color: white;
    position: fixed;
    top:0;
    left:0;
    z-index:1;
    display: none;
}
.menu.is_active{
    display:flex;
}
.menu.is_active li{
    color:white;
}
/* main */


.top_img{
    position:relative;
}
.top_background img{
    width:668px;
    height:auto;
    margin:0 50px;
}

.greeting h1 {
    position: absolute;
    top: 150px;
    left: 75px;
    font-family: "Arial Black";
    color: white;
    width:300px;
}
.greeting h2 {
    position: absolute;
    top: 200px;
    left: 75px;
    font-family: 'Homemade Apple', cursive;
    display: inline-block;
    color:white;
}
.top_start {
    position:relative;
    top: 5px;
    left: 250px;
    padding:15px 0px;
}
.top_start p{
    margin:15px 0px;
    font-family: 'Homemade Apple', cursive;
}
.sweets img {
    width:200px;
    height:auto;
}
.pokemon_page{
    display:inline-block;
    margin:50px 200px 50px 200px;
}
.pokemon_page p {
    text-align:center;
    font-family: 'Caveat', cursive;
    font-size:25px;
}
.sweets_page{
    display:inline-block;
    margin:50px 200px;
}
.sweets_page p {
    text-align:center;
    font-family: 'Caveat', cursive;
    font-size:25px;
    margin-top:10px;
}
.melody_page{
    display:inline-block;
    margin:50px 200px;
}
.melody_page p {
    text-align:center;
    font-family: 'Caveat', cursive;
    font-size:25px;
    margin-top:10px;
}
.kazutarou_page{
    display:inline-block;
    margin:50px 200px;
}
.kazutarou_page p {
    text-align:center;
    font-family: 'Caveat', cursive;
    font-size:25px;
    margin-top:10px;
}
.motto {
    position:relative;
}
.peace_photo img{
    width: 668px;
    margin:0 50px;
}
.motto_title h2{
    color:white;
    position:absolute;
    top: 300px;
    left: 75px;
    font-family: 'Corben', cursive;
}
.motto_title2 h3{
    color:white;
    position:absolute;
    top: 350px;
    left: 75px;
    font-family: 'DM Serif Display', serif
}

.main_fin{
    display:inline-block;
}
.main_fin_img img{
    width:668px;
    margin:25px 50px;
}
.main_fin_message {
    position: relative;
    text-align: center; /* 文字の中央寄せ */
    margin:100px 0px 0px 0px;
}
.main_fin_message::before {
    background-color: black; /* 線の色 */
    border-radius: 5px; /* 線の両端を丸く */
    bottom: -10px; /* 線の位置 */
    content: "";
    height: 3px; /* 線の高さ */
    left: 50%; /* 線の中央寄せ */
    position: absolute;
    transform: translateX(-50%); /* 線の中央寄せ */
    width: 100px; /* 線の長さ */
}
footer {
    background-color:#E2ADB3;
    margin:0 50px;
    width:668px;
}
.footer2 {
    display:flex;
    position:relative;
}
.main_logo img{
    width:200px;
    margin:25px 0px 0px 25px;
}
footer li{
    list-style:none;
    padding: 10px;
    border-bottom:solid 2px white;
    width:290px
}
footer a{
    width:345px;
}
footer a {
    text-decoration: none;
    color:white;
}
footer a:hover{
    text-decoration: underline;
}
.footer_picture img{
    width:300px;
    position:absolute;
    left:360px;
}
.top span {
    padding-left:260px;
    color:white;
}
.pokemon span {
    padding-left:213px;
    color:white;
}
.sweets span {
    padding-left:228px;
    color:white;
}
.melody2 span {
    padding-left:224px;
    color:white;
}
.about_me span {
    padding-left:202px;
    color:white;
}
.contact2 span {
    padding-left:222px;
    color:white;
}
.end_footer {
    background-color:	#CE8A8D;

}
.end_footer img{
    display:block;
    margin:auto;
    width:20%;
}
@media(max-width: 420px){
    body{
        width:320px;
        display:inline-block;
        margin:0 auto;
    }
}







