.melody_top {
    position:relative;
}
.melody_top img {
    margin:25px 50px;
}
.melody_top h2{
    position:absolute;
    top:30px;
    left:75px;
    font-family: 'Permanent Marker', cursive;
    font-size:25px;
}
.melody_top h3 {
    position:absolute;
    top:80px;
    left:75px;
    font-family: 'Vollkorn', serif;
    font-size:20px;
}
.melody_nav ul{
    display:flex;
    margin:25px auto;
    width:300px;
}
.melody_nav li{
    list-style:none;
    padding:0 5px;
    border-left:solid 1px black;
    color:black;
    font-family: 'Caveat', cursive;
    font-size:25px
}
.melody_nav a {
    text-decoration: none;
    color:black;
}
.melody_nav a:hover{
    text-decoration: underline;
}
.pokemon_songs{
    border-right:solid 1px black;
}
.detective_conan_songs_logo img{
    width:468px;
    margin:25px 150px;
}
.DC_ranking{
    margin:0 50px;
}
.DC_ranking1 {
    display:inline-block;
}

.DC_ranking1_picture img{
    width:200px;
    height:270px;
    margin:20px 40px 0 40px;
}
.DC_ranking1 {
    background-color:white;
    width:280px;
    height:320px;
    margin:15px 20px 30px 0px;
}
.DC_ranking p{
    margin:0 0 10px 0;
    text-align:center;
    font-family: 'Caveat', cursive;

}
.DC_ranking2 {
    display:inline-block;
}

.DC_ranking2_picture img {
    width:200px;
    height:270px;
    margin:20px 40px 0px 40px;
}
.DC_ranking2  {
    background-color:white;
    width:280px;
    height:320px;
    margin:15px 0px 30px 0px;
}
.DC_ranking2 p{
    margin:0 0 10px 0;
    text-align:center;
    font-family: 'Caveat', cursive;
}
.pokemon_songs_logo img {
    width:468px;
    margin:25px 150px;
}
.pokemon_indigo_league_songs{
    display:flex;
}
.pokemon_indigo_league {
    margin:25px 50px;
}
.pokemon_ranking1_p p{
    margin:50px 50px;
    font-family: 'Corben', cursive;
}
.go_for_Pokemon_Master_img img{
    height:150px;
    width:150px;
    margin:0 25px;
}
.go_for_pokemon_master{
    display:block;
}
.go_for_pokemon_master p{
    text-align:center;
    font-family: 'Caveat', cursive;
}
.ok_img img{
    height:150px;
    width:150px;
    margin:0 25px;
}
.ok{
    display:block;
}
.ok p{
    text-align:center;
    font-family: 'Caveat', cursive;
}
.Type_wild_img img{
    height:150px;
    width:150px;
    margin:0 25px;
}
.Type_wild{
    display:block;
}
.Type_wild p{
    text-align:center;
    font-family: 'Caveat', cursive;
}


.advanced_generation {
    margin:25px 0px;
}
.pokemon_ranking2_p p{
    margin:50px 50px;
    font-family: 'Corben', cursive;
}
.advanced_adventure_img img{
    height:150px;
    width:150px;
    margin:0 25px;
}
.advanced_adventure{
    display:inline-block;
}
.advanced_adventure p{
    text-align:center;
    font-family: 'Caveat', cursive;
}
.challenger_img img{
    height:150px;
    width:150px;
    margin:0 25px;
}
.challenger{
    display:inline-block;
}
.challenger p{
    text-align:center;
    font-family: 'Caveat', cursive;
}
.battle_frontier_img img{
    height:150px;
    width:150px;
    margin:0 25px;
}
.battle_frontier{
    display:inline-block;
}
.battle_frontier p{
    text-align:center;
    font-family: 'Caveat', cursive;
}


.pokemon_ranking3_p {
    margin:50px 100px;
    font-family: 'Corben', cursive;
}
.pokemon_diamond_pearl_songs {
    margin:25px 150px;
}

.together_img img{
    height:150px;
    width:150px;
    margin:0 25px;
}
.together{
    display:inline-block;
}
.together p{
    text-align:center;
    font-family: 'Caveat', cursive;
}
.high_five img{
    height:150px;
    width:150px;
    margin:0 25px;
}
.high_five{
    display:inline-block;
}
.high_five p{
    text-align:center;
    font-family: 'Caveat', cursive;
}


.pokemon_ranking4_p {
    margin:50px 100px;
    font-family: 'Corben', cursive;
}
.pokemon_best_wishes_songs {
    margin:25px 150px;
}

.pokemon_name img{
    height:150px;
    width:150px;
    margin:0 25px;
}
.pokemon_name{
    display:inline-block;
}
.pokemon_name p{
    text-align:center;
    font-family: 'Caveat', cursive;
}
.yazirusi img{
    height:150px;
    width:150px;
    margin:0 25px;
}
.yazirusi{
    display:inline-block;
}
.yazirusi p{
    text-align:center;
    font-family: 'Caveat', cursive;
}


.xyz {
    margin:25px 50px;
}
.pokemon_ranking5_p p{
    margin:50px 100px;
    font-family: 'Corben', cursive;
}
.v_img img{
    height:150px;
    width:150px;
    margin:0 25px;
}
.v{
    display:inline-block;
}
.v p{
    text-align:center;
    font-family: 'Caveat', cursive;
}
.getta_bang_bang img{
    height:150px;
    width:150px;
    margin:0 25px;
}
.getta_bang_bang{
    display:inline-block;
}
.getta_bang_bang p{
    text-align:center;
    font-family: 'Caveat', cursive;
}
.dream_dream_img img{
    height:150px;
    width:150px;
    margin:0 25px;
}
.dream_dream{
    display:inline-block;
}
.dream_dream p{
    text-align:center;
    font-family: 'Caveat', cursive;
}

.pokemon_xyz_songs2 {
    margin:25px 150px;
}

.kirakira_img img{
    height:150px;
    width:150px;
    margin:0 25px;
}
.kirakira{
    display:inline-block;
}
.kirakira p{
    text-align:center;
    font-family: 'Caveat', cursive;
}
.xyz_song_img img{
    height:150px;
    width:150px;
    margin:0 25px;
}
.xyz_song{
    display:inline-block;
}
.xyz_song p{
    text-align:center;
    font-family: 'Caveat', cursive;
}

.sun_moon {
    margin:25px 50px;
}
.pokemon_ranking6_p p{
    margin:50px 50px;
    font-family: 'Corben', cursive;
}
.sun_moon_song_img img{
    width:150px;
    height:150px;
    margin:0 225px;
}
.pokemon_sun_moon_songs {
    display:inline-block;
}
.pokemon_sun_moon_songs p{
    text-align:center;
    font-family: 'Caveat', cursive;
}

.new_indigo_league {
    margin:25px 50px;
}
.pokemon_ranking7_p p{
    margin:50px 50px;
    font-family: 'Corben', cursive;
}
.new_indigo_league_song_img img{
    width:150px;
    height:150px;
    margin:0 225px;
}
.pokemon_new_indigo_league_song {
    display:inline-block;
}
.pokemon_new_indigo_league_song p{
    text-align:center;
    font-family: 'Caveat', cursive;
}

.hatena_songs {
margin:25px 50px;
}
.other_songs_p p{
    margin:50px 50px;
    font-family: 'Corben', cursive;
}
.hatena_song_img img{
    width:150px;
    height:150px;
    margin:0 225px;
}
.hatena_song_img {
    display:inline-block;
}
.hatena_song_img p{
    text-align:center;
}
.about_me span {
    padding-left:200px;
    color:white;
}


@media(max-width: 480px){
    body{
        width:414px;
        padding-right:0px;
    }
    .melody_top h2{
        width:500px;

    }
    .melody_top h3{
        width:500px;
        font-size:30px;
        top:60px;
    }
    .melody_nav{
        margin:0 225px;
    }
    .DC_ranking{
        display:block;
        margin:0 110px 100px 110px;
        margin-top:100px;
    }
    .DC_ranking1 {
        display:inline-block;
        height:900px;
        width:550px;
    }
    .DC_ranking2 {
        display:inline-block;
        height:900px;
        width:550px;
    }
    .DC_ranking1 p{
        font-size:30px;
        width:500px;
        margin:8px 25px;
        font-size:35px;
    }
    .DC_ranking2 p{
        font-size:30px;
        width:500px;
        margin:8px 25px;
        font-size:35px;

    }
    .DC_ranking1 img{
        margin:0 25px;
        margin-top:25px;
        width:500px;
        height:auto;
    }
    .DC_ranking2 img{
        margin:0 25px;
        margin-top:25px;
        width:500px;
        height:auto;
    }
    .pokemon_ranking1_p p{
        width:400px;
        font-size:30px;
    }
    .pokemon_indigo_league_songs{
        display:block;
        margin:0 55px;
        margin-top:100px;
    }
    .go_for_pokemon_master {
        display:inline-block;
    }
    .ok {
        display:inline-block;
    }
    .Type_wild {
        display:inline-block;
    }
    .go_for_pokemon_master p{
        font-size:50px;
        margin:0 0 70px 0;
    }
    .ok p{
        font-size:50px;
        margin:0 0 70px 0;
    }
    .Type_wild p{
        font-size:50px;
        margin:0 0 70px 0;
    }
    .go_for_pokemon_master img{
        margin:0 125px;
        width:314px;
        height:314px;
    }
    .ok img{
        margin:0 125px;
        width:314px;
        height:314px;
    }
    .Type_wild img{
        margin:0 125px;
        width:314px;
        height:314px;
    }

    .pokemon_ranking2_p p{
        width:500px;
        font-size:30px;
    }
    .pokemon_Advanced_generation_songs{
        display:block;
        margin:0 55px;
        margin-top:100px;
    }
    .advanced_adventure {
        display:inline-block;
        margin:50px;
    }
    .challenger {
        display:inline-block;
        margin:50px;
    }
    .battle_frontier {
        display:inline-block;
        margin:50px;
    }
    .advanced_adventure p{
        font-size:50px;
        margin:0 0;
    }
    .challenger p{
        font-size:50px;
        margin:0 0;
    }
    .battle_frontier p{
        font-size:50px;
        margin:0 0;
    }
    .advanced_adventure img{
        margin:0 125px;
        width:314px;
        height:314px;
    }
    .challenger img{
        margin:0 125px;
        width:314px;
        height:314px;
    }
    .battle_frontier img{
        margin:0 125px;
        width:314px;
        height:314px;
    }

    .pokemon_ranking3_p p{
        width:400px;
        font-size:30px;
    }
    .diamond_pearl_songs{
        display:block;
        margin-top:100px;
    }
    .together {
        display:inline-block;
        margin:0 0;
    }
    .high_five {
        display:inline-block;
        margin:0 0;
    }
    .together p{
        font-size:50px;
        margin:0 0 70px 0;
    }
    .high_five p{
        font-size:50px;
        margin:0 0 70px 0;
    }
    .together img{
        margin:0 85px;
        width:314px;
        height:314px;
    }
    .high_five img{
        margin:0 85px;
        width:314px;
        height:314px;
    }

    .pokemon_ranking4_p p{
        width:400px;
        font-size:30px;
    }
    .pokemon_best_wishes_songs{
        display:block;
        margin-top:100px;
    }
    .yazirusi {
        display:inline-block;
        margin:0 0;
    }
    .pokemon_name {
        display:inline-block;
        margin:0 0;
    }
    .yazirusi p{
        font-size:50px;
        margin:0 0 70px 0;
    }
    .pokemon_name p{
        font-size:50px;
        width:350px;
        margin:0 65px;
    }
    .yazirusi img{
        margin:0 85px;
        width:314px;
        height:314px;
    }
    .pokemon_name img{
        margin:0 85px;
        width:314px;
        height:314px;
    }

    .pokemon_ranking5_p p{
        width:500px;
        font-size:30px;
    }
    .xy {
        display:block;
        margin:0 55px;
        margin-top:100px;
    }
    .v {
        display:inline-block;
        margin:0 50px;
    }
    .getta_bang_bang {
        display:inline-block;
        margin:0 50px;
    }
    .dream_dream {
        display:inline-block;
        margin:0 50px;
    }
    .kirakira {
        display:inline-block;
        margin:0 35px;
    }
    .xyz_song {
        display:inline-block;
        margin:0 35px;
        margin-top:50px;
    }
    .v p{
        font-size:50px;
        margin:0 0 70px 0;
    }
    .getta_bang_bang p{
        font-size:50px;
        margin:0 0 80px 0;
    }
    .dream_dream p{
        font-size:50px;
        margin:0 0 50px 0;
    }
    .kirakira p{
        font-size:50px;
        margin:0 0px;
    }
    .xyz_song p{
        font-size:50px;
        margin:0 0px;
    }
    
    .v img{
        margin:0 80px;
        width:314px;
        height:314px;
    }
    .getta_bang_bang img{
        margin:0 80px;
        width:314px;
        height:314px;
    }
    .dream_dream img{
        margin:0 80px;
        width:314px;
        height:314px;
    }
    .kirakira img{
        margin:0 0px;
        width:314px;
        height:314px;
    }
    .xyz_song img{
        margin:0 0px;
        width:314px;
        height:314px;
    }

    .pokemon_ranking6_p p{
        width:400px;
        font-size:30px;
    }
    .pokemon_sun_moon_songs img{
        width:314px;
        height:auto;
        margin:0 175px;
    }
    .pokemon_sun_moon_songs p{
        font-size:50px;
    }

    .pokemon_ranking7_p p{
        width:400px;
        font-size:30px;
    }
    .pokemon_new_indigo_league_song img{
        width:314px;
        height:auto;
        margin:0 175px;
    }
    .pokemon_new_indigo_league_song p{
        font-size:50px;
    }
    
}
@media(min-width: 481px){
    .melody_picture img{
        margin:0 75px;
    }
    .melody_top h2{
        left:100px;
    }
    .melody_top h3{
        left:100px;
    }
    .melody_nav ul{
        margin:25px 210px;
    }
    .melody_nav li{
        font-size:32px;
    }
    .detective_conan_songs_logo img{
        margin:0 185px;
    }
    .DC_ranking {
        width:800px;
        margin:0 40px;

    }
    .DC_ranking1{
        width:350px;
        height:480px;
    }
    .DC_ranking1_picture img{
        margin:20px 50px 40px 50px;
        width:250px;
        height:350px;
    }
    .ranking1_title p{
        font-size:35px;
    }

    .DC_ranking2{
        width:350px;
        height:480px;
    }
    .DC_ranking2_picture img{
        margin:20px 50px 0 50px;
        width:250px;
        height:350px;
    }
    .ranking2_title p{
        font-size:35px;
    }

    .pokemon_songs_logo img{
        margin:0 190px;
    }
    .pokemon_indigo_league_songs{
        width:800px;
        margin:10px 0px
    }
    .pokemon_ranking1_p p{
        margin:50px 0px;
        font-size:30px;
    }
    .go_for_Pokemon_Master_img img{
        margin:0 50px;
    }
    .go_for_pokemon_master p{
        font-size:35px;
    }
    .ok_img img{
        margin:0 50px;
    }
    .ok p{
        font-size:35px;
    }
    .Type_wild_img img{
        margin:0 50px;
    }
    .Type_wild p{
        font-size:35px;
    }
    .pokemon_Advanced_generation_songs{
        width:800px;
        margin:10px 50px;
    }
    .pokemon_ranking2_p p{
        margin:50px 50px;
        font-size:30px;
    }
    .advanced_adventure_img img{
        margin:0 50px;
    }
    .advanced_adventure p{
        font-size:35px;
    }
    .challenger_img img{
        margin:0 55px;
    }
    .challenger p{
        font-size:35px;
    }
    .battle_frontier_img img{
        margin:0 55px;
    }
    .battle_frontier p{
        font-size:35px;
    }
    .pokemon_diamond_pearl_songs{
        width:600px;
        margin:0 150px;
    }
    .pokemon_ranking3_p p{
        margin:50px 0px;
        font-size:30px;
    }
    .together_img img{
        margin:0 55px;
    }
    .together p{
        font-size:35px;
    }
    .high_five_img img{
        margin:0 55px;
    }
    .high_five p{
        font-size:35px;
    }
    .pokemon_best_wishes_songs{
        width:600px;
        margin:0 200px;
    }
    .pokemon_ranking4_p p{
        margin:50px 5px;
        font-size:30px;
    }
    .yazirusi{
        margin:0 55px 0 0;
    }
    .yazirusi_img img{
        margin:0 0px 40px 0;
    }
    .yazirusi p{
        font-size:35px;
        
    }
    
    .pokemon_name_img img{
        margin:0 55px;
    }
    .pokemon_name p{
        width:240px!important;
        font-size:35px;
        
    }
    .xyz{
        width:700px;
        margin:0 0!important;
    }

    .pokemon_xyz_songs1{
        width:800px;
        margin:10px 50px;
    }
    .pokemon_ranking5_p p{
        margin:50px 50px;
        font-size:30px;
        font-size:30px;
    }
    .v_img img{
        margin:0 50px;
    }
    .v p{
        font-size:35px;
    }
    .getta_bang_bang_img img{
        margin:0 55px;
    }
    .getta_bang_bang p{
        font-size:35px;
    }
    .dream_dream_img img{
        margin:0 55px;
    }
    .dream_dream p{
        font-size:35px;
    }
    .pokemon_xyz_songs2{
        width:600px;
        margin:0 150px!important;
    }
    .kirakira_img img{
        margin:0 60px;
    }
    .kirakira p{
        font-size:35px;
    }
    .xyz_song_img img{
        margin:0 60px;
    }
    .xyz_song p{
        font-size:35px;
    }
    .sun_moon {
        margin:25px 50px;
    }
    .pokemon_ranking6_p p{
        margin:0 60px;
        font-size:30px;
    }
    .sun_moon_song_img img{
        width:200px;
        height:200px;
        margin:50px 275px 0 275px;
    }
    .pokemon_sun_moon_songs p{
        font-size:35px;
        margin:0 25px;
    }

    .new_indigo_league {
        margin:25px 50px;
    }
    .pokemon_ranking7_p p{
        margin:0 60px;
        font-size:30px;
    }
    .new_indigo_league_song_img img{
        width:200px;
        height:200px;
        margin:50px 275px 0 275px;
    }
    .pokemon_new_indigo_league_song p{
        font-size:35px;
        margin:0 25px;
    }
    footer{
        margin:auto 125px!important;
    }
}
@media(min-width: 960px){
    .melody_picture img{
        width:1175px;
        height:auto;
        margin:0 100px;
        margin-top:50px;
    }
    .melody_top h2{
        width:900px;
        font-size:40px;
        top:80px;
        left:125px;
    }
    .melody_top h3{
        width:900px;
        font-size:35px;
        top:130px;
        left:125px;
    }
    .melody_nav ul{
        margin:25px 495px;
    }
    .melody_nav li{
        font-size:30px;
    }
    .detective_conan_songs_logo img{
        width:500px;
        height:auto;
        margin:25px 425px;
    }
    .DC_ranking {
        width:1100px;
        margin:0 160px;
    }
    .DC_ranking1{
        width:400px;
        height:500px;
        margin:0 50px;
        margin-top:100px;

    }
    .DC_ranking1_picture img{
        width:320px;
        height:410px;
        margin:25px 40px 0 40px;
    }
    .DC_ranking2{
        width:400px;
        height:500px;
        margin:0 50px;

    }
    .DC_ranking2_picture img{
        width:320px;
        height:410px;
        margin:25px 40px 0 40px;
    }
    .DC_ranking p{
        margin:0 0;
    }
    .pokemon_songs_logo img{
        width:500px;
        height:auto;
        margin:100px 425px 25px 425px;
    }
    #pokemon_songs{
        margin:0 275px;
    }
    .pokemon_ranking1_p p{
        width:1100px
    }

    .pokemon_ranking2_p p{
        width:1100px
    }

    .pokemon_ranking3_p p{
        width:1100px
    }

    .pokemon_ranking4_p p{
        width:1100px
    }

    .pokemon_ranking5_p p{
        width:1100px
    }

    .pokemon_ranking6_p p{
        width:1100px
    }
    .pokemon_ranking7_p p{
        width:1100px
    }
    footer{
        margin:0 160px!important;
    }
}

@media(min-width: 1375px){
    header{
        margin:0 170px!important;
    }
    footer{
        margin:0 275px!important;
    }
    main{
        margin:0 215px!important;
    }
    
}



