.sweets_start {
    position:relative;
}
.sweets_main_picture {
    margin:0px 50px;
}
.sweets_title h2{
    position:absolute;
    bottom:50px;
    right:75px;
    color:white;
    font-family: 'Anton', sans-serif;
}
.sweets_title2 h3{
    position:absolute;
    bottom:20px;
    right:75px;
    color:white;
    font-family: 'Cherry Swash', cursive;
}
.sweets_ex p{
    margin:40px 250px;
    width:468px;
    font-family: 'Homemade Apple', cursive;
}
.favorite {
    display:flex;
}
.fresh_cream {
    background-color:white;
    width:250px;
    height:295px;
    margin:30px 5px 30px 50px;
}
.fresh_cream p{
    margin:0 0 1px 0;
    text-align:center;
    font-family: 'Bangers', cursive;
}
.fresh_cream_img img{
    width:200px;
    height:auto;
    margin: 15px 7.5px;
}
.peach p{
    margin:0 0 1px 0;
    text-align:center;
    font-family: 'Bangers', cursive;
}
.peach {
    background-color:white;
    width:250px;
    height:295px;
    margin:30px 5px 30px 5px;
}
.peach img{
    width:200px;
    height:auto;
    background-color:black;
    background-size:300px 300px;
    margin: 15px 7.5px;
}
.cheese {
    background-color:white;
    width:250px;
    height:295px;
    margin:30px 50px 30px 5px;
}
.cheese p{
    margin:0 0 1px 0;
    text-align:center;
    font-family: 'Bangers', cursive;
}
.cheese img{
    width:200px;
    height:auto;
    background-color:black;
    background-size:300px 300px;
    margin: 15px 7.5px;
}
.snacks_logo img{
    width:468px;
    margin: 30px 170px;
}
.My_favorite_snacks {
    text-align:center;
}


.sweets_buffet_logo img{
    width:468px;
    margin:30px 173px;
}
.sweets_buffet_main{
    position:relative;
}
.sweets_buffet_message{
    color: #000;
    -webkit-text-stroke: 0.5px #FFF;
}
.sweets_buffet_message h2{
    position:absolute;
    top:50px;
    left:75px;
    font-family: 'Cherry Swash', cursive;
    font-size:25px;
}
.sweets_buffet_message h3{
    position:absolute;
    top:85px;
    left:75px;
    font-family: 'Cherry Swash', cursive;
    font-size:23px;
}
.sweets_buffet_picture img{
    margin:30px 50px;
}
.sweets_buffet_invite {
    position:relative;
}
.sweets_buffet_invite_picture img{
    margin:0 50px;
}
.sweets_buffet_invite_message {
    position: relative;
    text-align: center; /* 文字の中央寄せ */
    margin:100px 0px 60px 0px;
    font-family: 'Bangers', cursive;
    font-size:28px;

}
.sweets_buffet_invite_message::before {
    background-color: black; /* 線の色 */
    border-radius: 5px; /* 線の両端を丸く */
    bottom: -10px; /* 線の位置 */
    content: "";
    height: 3px; /* 線の高さ */
    left: 50%; /* 線の中央寄せ */
    position: absolute;
    transform: translateX(-50%); /* 線の中央寄せ */
    width: 100px; /* 線の長さ */
}
.invite p{
    font-family: 'Homemade Apple', cursive;
    margin:30px 0;
    text-align:center;
}
.want_message p{
    margin:20px 60px;
    font-family: 'Caveat', cursive;
    font-size:20px;
}
.want{
    display:flex;
    margin:10px 50px;
}
.cakes_img img{
    width:200px;
    height:270px;
    margin:10px 5px 0px 5px;
}
.cakes {
    background-color:white;
    width:210px;
    height:320px; 
    
}
.cakes p{
    margin:0 0 2px 0;
    text-align:center;
    font-family: 'Bangers', cursive;
}
.donuts_img img{
    width:200px;
    height:270px;
    margin:10px 5px 0 5px;
}
.donuts {
    background-color:white;
    width:210px;
    height:320px;
    margin:0 20px 0 20px;
}
.donuts p{
    margin:0 0 1px 0;
    text-align:center;
    font-family: 'Bangers', cursive;
}
.Macarons_img img{
    width:200px;
    height:270px;
    margin:10px 5px 0 5px;
}
.Macarons {
    background-color:white;
    width:210px;
    height:320px;
}
.Macarons p{
    margin:0 0 1px 0;
    text-align:center;
    font-family: 'Bangers', cursive;
}

