.start_img img{
    margin:25px 50px;
    position:relative;
}
.start_message1 h1{
    position:absolute;
    top:100px;
    left:75px;
    color:white;
    font-family: 'Bangers', cursive;
    font-size:30px;

}
.start_message2 h2{
    position:absolute;
    top:150px;
    left:75px;
    color:white;
    font-family: 'Cherry Swash', cursive;
    font-size:25px;
}

.start {
    width:768px;
}
.start p{
    text-align:center;
    font-family: 'Homemade Apple', cursive;
}
.my_info1 {
    margin:25px 57px;
}
.birthday_picture img{
    width:250px;
    height:250px;
}
.birthday {
    display:inline-block;
    margin-right:150px;
}
.birthday p {
    text-align:center;
    font-family: 'Caveat', cursive;
    font-size:25px;
}
.age_picture img{
    width:250px;
    height:250px;
}
.age {
    display:inline-block;
}
.age p {
    text-align:center;
    font-family: 'Caveat', cursive;
    font-size:25px;
}


.my_info2 {
    margin:25px 56px;
}
.from_picture img{
    width:250px;
    height:250px;
}
.from {
    display:inline-block;
    margin-right:150px;
}
.from p {
    text-align:center;
    font-family: 'Caveat', cursive;
    font-size:25px;
}
.live_picture img{
    width:250px;
    height:250px;
}
.live {
    display:inline-block;
}
.live p {
    text-align:center;
    font-family: 'Caveat', cursive;
    font-size:25px;
}
.myfavorite_logo img{
    width:668px;
    height:auto;
    margin:0px 50px;
    margin-top:150px;
}
.food_logo img{
    width:200px;
    height:200px;
    margin:0 285px;
    margin-top:100px;
}
.food{
    margin:0 110px;
}
.fried_chicken {
    display:inline-block;
}
.fried_chicken_img img{
    width:200px;
    height:270px;
    margin:10px 25px 0 25px;
}
.fried_chicken {
    background-color:white;
    width:250px;
    height:310px;
    margin:30px 20px 30px 0px;
}
.fried_chicken p{
    margin:0 0 10px 0;
    text-align:center;
    font-family: 'Bangers', cursive;
}
.chinese_dumpling {
    display:inline-block;
}
.chinese_dumpling_img img {
    width:200px;
    height:270px;
    margin:10px 25px 0px 25px;
}
.chinese_dumpling  {
    background-color:white;
    width:250px;
    height:310px;
    margin:30px 0px 30px 20px;
}
.chinese_dumpling p{
    margin:0 0 10px 0;
    text-align:center;
    font-family: 'Bangers', cursive;
}


.color_logo img{
    width:200px;
    height:200px;
    margin:0 285px;
    margin-top:100px;
}
.color{
    margin:0 110px;
}
.green {
    display:inline-block;
}
.green_img img{
    width:200px;
    height:270px;
    margin:10px 25px 0 25px;
}
.green {
    background-color:white;
    width:250px;
    height:310px;
    margin:30px 20px 30px 0px;
}
.green p{
    margin:0 0 10px 0;
    text-align:center;
    font-family: 'Bangers', cursive;
}
.pink {
    display:inline-block;
}
.pink_img img {
    width:200px;
    height:270px;
    margin:10px 25px 0px 25px;
}
.pink  {
    background-color:white;
    width:250px;
    height:310px;
    margin:30px 0px 30px 20px;
}
.pink p{
    margin:0 0 10px 0;
    text-align:center;
    font-family: 'Bangers', cursive;
}


.season_logo img{
    width:200px;
    height:200px;
    margin:0 285px;
    margin-top:100px;
}
.favorite_season{
    margin:0 110px;
}
.summer {
    display:inline-block;
}
.summer_img img{
    width:200px;
    height:270px;
    margin:10px 25px 0 25px;
}
.summer {
    background-color:white;
    width:250px;
    height:310px;
    margin:30px 20px 30px 0px;
}
.summer p{
    margin:0 0 10px 0;
    text-align:center;
    font-family: 'Bangers', cursive;
}
.autumn {
    display:inline-block;
}
.autumn img {
    width:200px;
    height:270px;
    margin:10px 25px 0px 25px;
}
.autumn  {
    background-color:white;
    width:250px;
    height:310px;
    margin:30px 0px 30px 20px;
}
.autumn p{
    margin:0 0 10px 0;
    text-align:center;
    font-family: 'Bangers', cursive;
}

.animal_logo img{
    width:200px;
    height:200px;
    margin:0px 285px;
    margin-top:100px;
}
.favorite_animal {
    display:flex;
}
.hawk {
    background-color:white;
    width:250px;
    height:360px;
    margin:30px 5px 30px 50px;
}
.hawk p{
    margin:0 0 1px 0;
    text-align:center;
    font-family: 'Bangers', cursive;
}
.hawk_img img{
    width:200px;
    height:auto;
    margin: 15px 7.5px;
}
.peacock p{
    margin:0 0 1px 0;
    text-align:center;
    font-family: 'Bangers', cursive;
}
.peacock {
    background-color:white;
    width:250px;
    height:360px;
    margin:30px 5px 30px 5px;
}
.peacock img{
    width:200px;
    height:auto;
    background-color:black;
    background-size:300px 300px;
    margin: 15px 7.5px;
}
.condor {
    background-color:white;
    width:250px;
    height:360px;
    margin:30px 50px 30px 5px;
}
.condor p{
    margin:0 0 1px 0;
    text-align:center;
    font-family: 'Bangers', cursive;
}
.condor img{
    width:200px;
    height:auto;
    background-color:black;
    background-size:300px 300px;
    margin: 15px 7.5px;
}



.country img{
    width:200px;
    height:200px;
    margin:0px 285px;
    margin-top:100px;
}
.favorite_country{
    margin:0 110px;
}
.country2 {
    display:inline-block;
}
.country_img img{
    width:270px;
    height:200px;
    margin:10px 25px 0 25px;
}
.country2 {
    background-color:white;
    width:315px;
    height:250px;
    margin:30px 115px;
}
.country2 p{
    margin:0 0 10px 0;
    text-align:center;
    font-family: 'Bangers', cursive;
}

.finally {
    position: relative;
    display: inline-block;
    padding: 0 155px;
    margin:20px 62px;
    font-family: 'Cherry Swash', cursive;
    
}

.finally:before,
.finally:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 100px;
    height: 2px;
    background-color: #666;
}

.finally:before {
    left: 0;
}

.finally:after {
    right: 0;
}

@media  screen and (max-width: 480px){
    .start_img img{
        width:668px;
        height:auto;
    }
    .start_message1 h1{
        width:500px;
        font-size:40px;
    }
    .start_message2 h2{
        width:500px;
        font-size:25px;
        top:150px;
    }
    .start p{
        font-size:20px;
    }
    .my_info {
        display:block;
        margin:0 55px;
        margin-top:100px;
    }
    .birthday {
        display:inline-block;
        margin:0 50px;
    }
    .age {
        display:inline-block;
        margin:0 50px;
    }
    .from {
        display:inline-block;
        margin:0 50px;
    }
    .live {
        display:inline-block;
        margin:0 50px;
    }
    .birthday p{
        font-size:50px;
        margin:0 0 70px 0;
    }
    .age p{
        font-size:50px;
        margin:0 0 70px 0;
    }
    .from p{
        font-size:50px;
        margin:0 0 70px 0;
    }
    .live p{
        font-size:50px;
        margin:0 0px;
    }
    
    .birthday img{
        margin:0 70px;
        width:314px;
        height:314px;
    }
    .age img{
        margin:0 70px;
        width:314px;
        height:314px;
    }
    .from img{
        margin:0 70px;
        width:314px;
        height:314px;
    }
    .live img{
        margin:0 70px;
        width:314px;
        height:314px;
    }
    .food_logo img{
        width:314px;
        height:314px;
        margin:30px 230px 15px 230px;
    }
    .favorite_food{
        display:block;
        margin:0 100px 50px 45px;
        margin-top:30px;
    }
    .fried_chicken {
        display:inline-block;
        height:700px;
        width:464px;
        margin:10px 0px;
    }
    .chinese_dumpling {
        display:inline-block;
        height:700px;
        width:464px;
        margin:10px 0;
    }
    
    .fried_chicken p{
        font-size:30px;
    }
    .chinese_dumpling p{
        font-size:30px;
    }
    .fried_chicken img{
        margin:0 25px;
        margin-top:25px;
        width:414px;
        height:auto;
    }
    .chinese_dumpling img{
        margin:0 25px;
        margin-top:25px;
        width:414px;
        height:auto;
    }

    .color_logo img{
        width:314px;
        height:314px;
        margin:30px 230px 15px 230px;
    }
    .favorite_color{
        display:block;
        margin:0 100px 50px 45px;
        margin-top:30px;
    }
    .green {
        display:inline-block;
        height:700px;
        width:464px;
        margin:10px 0px;
    }
    .pink {
        display:inline-block;
        height:700px;
        width:464px;
        margin:10px 0;
    }
    
    .green p{
        font-size:30px;
    }
    .pink p{
        font-size:30px;
    }
    .green img{
        margin:0 25px;
        margin-top:25px;
        width:414px;
        height:auto;
    }
    .pink img{
        margin:0 25px;
        margin-top:25px;
        width:414px;
        height:auto;
    }

    .season_logo img{
        width:314px;
        height:314px;
        margin:30px 230px 15px 230px;
    }
    .favorite_season{
        display:block;
        margin:0 157px 50px 157px;
        margin-top:30px;
    }
    .summer {
        display:inline-block;
        height:700px;
        width:464px;
        margin:10px 0px;
    }
    .autumn {
        display:inline-block;
        height:700px;
        width:464px;
        margin:10px 0;
    }
    
    .summer p{
        font-size:30px;
    }
    .autumnvvv p{
        font-size:30px;
    }
    .summer img{
        margin:0 25px;
        margin-top:25px;
        width:414px;
        height:auto;
    }
    .autumn img{
        margin:0 25px;
        margin-top:25px;
        width:414px;
        height:auto;
    }
    .animal_logo img{
        width:314px;
        height:314px;
        margin:30px 230px 15px 230px;
    }
    .favorite_animal{
        display:block;
        margin:0 110px 100px 110px;
        margin-top:30px;
    }
    .hawk {
        display:inline-block;
        height:700px;
        width:464px;
    }
    .peacock {
        display:inline-block;
        height:700px;
        width:464px;
        margin-left:50px;
    }
    .condor {
        display:inline-block;
        height:700px;
        width:464px;
        margin-left:50px;
    }
    .hawk p{
        font-size:30px;
    }
    .peacock p{
        font-size:30px;
    }
    .condor p{
        font-size:30px;
    }
    .hawk img{
        margin:0 25px;
        margin-top:25px;
        width:414px;
        height:auto;
    }
    .peacock img{
        margin:0 25px;
        margin-top:25px;
        width:414px;
        height:auto;
    }
    .condor img{
        margin:0 25px;
        margin-top:25px;
        width:414px;
        height:auto;
    }

    .country_logo img{
        width:314px;
        height:314px;
        margin:30px 230px 15px 230px;
    }

    .favorite_country{
        margin:0 0px;
    }
    .country_img img{
        width:500px;
        height:auto;
        margin:25px 25px 0 25px;
    }
    .country2 {
        background-color:white;
        width:550px;
        height:400px;
        margin:30px 115px;
    }
    .favorite_country p{
        font-size:30px;
    }
    
    .finally{
        width:340px;
        margin: 50px 0px 50px 60px;
    }

}