.burger{
    margin:10px 0px;
}
.pokemon_img img{
    width:668px;
    margin:0 50px 0 50px;
}
.pokemon_start {
    position:relative;
}
.pokemon_title1 {
    position:absolute;
    top: 150px;
    left: 70px;
    color:black;
    font-family: "Arial Black";
}
.pokemon_title2 {
    position:absolute;
    top: 200px;
    left: 70px;
    color:black;
    font-family: 'Homemade Apple', cursive;
}
.pokemon_nav ul{
    display:flex;
    margin:25px auto;
    width:300px;
}
.pokemon_nav li{
    list-style:none;
    padding:0 5px;
    border-left:solid 1px black;
    color:black;
    font-family: 'Caveat', cursive;
    font-size:25px
}
.pokemon_nav a {
    text-decoration: none;
    color:black;
}
.pokemon_nav a:hover{
    text-decoration: underline;
}

.melody{
    border-right:solid 1px black;
}
.go_logo img{
    margin:50px 150px;
}
.go_img {
    position:relative;
    margin:0 50px 0 50px;

}
.go_img h3{
    position:absolute;
    top:0px;
    left:70px;
    color:white;
    font-family: 'Kaushan Script', cursive;
    font-size:30px;
}
.information p{
    margin:20px 20px;
    font-family: "Arial Black";
}
.info {
    display:flex;
    margin:30px 50px
}
.day_ob img{
    width:200px;
    height:200px;
}
.walk_ob img{
    width:200px;
    height:200px;
    margin:0 15px 0 30px;
}
.catch_ob img{
    width:200px;
    height:200px;
    margin:0 0px 0 15px;
}
.day_ex p{
    text-align:center;
    font-family: 'Homemade Apple', cursive;
}
.walk_ex p{
    text-align:center;
    font-family: 'Homemade Apple', cursive;
}
.catch_ex p{
    text-align:center;
    font-family: 'Homemade Apple', cursive;
}
.anime_logo img{
    margin:50px 150px;
}
.anime_img {
    position:relative;
    margin:0 50px 0 50px;

}
.anime_img h3{
    position:absolute;
    top:10px;
    left:70px;
    font-family: 'Kaushan Script', cursive;
    font-size:30px;
}

.region_ob img{
    width:200px;
}
.character_ob img{
    width:200px;
}
.my_favorite_pokemon_ob img{
    width:200px;
}
.anime_info {
    display:flex;
}
.anime_info {
    margin:30px 50px;
}
.region_ob {
    margin:0 15px 0 0 
}
.character_ob {
    margin:0 15px 0 15px;
}
.my_favorite_pokemon{
    margin:0 0 0 15px;
}
.region_ex p{
    font-family: "Arial Black";
}
.character_ex p{
    font-family: "Arial Black";
}
.my_favorite_pokemon_ex p{
    font-family: "Arial Black";
}
.region_ob p{
    text-align:center;
    font-family: 'Caveat', cursive;
}
.satoshi_img p{
    text-align:center;
    font-family: 'Caveat', cursive;
}
.psyduck_img p{
    text-align:center;
    font-family: 'Caveat', cursive;
}


